@gray1: #e4e4e4;
@leftcolwidth: 10em; // 200px : 16px

body {
    padding: 1em;
    box-sizing: border-box;
    position: relative;

    section.content {
        max-width: 56.25em; // 900px : 16px
        margin: 0 auto;
        padding-left: @leftcolwidth;
        padding-right: 0;

        h1 {
            .font1;
            font-size: 2.5em;
            color: @gray1;
            margin-bottom: .3em;
        }

        h2 {
            .font1;
            font-size: 1.5em;
            color: @gray1;
            margin-bottom: 1em;
        }

        h5, .h5 {
            .font2;
            font-size: 1em;
            color: #fff;
            text-decoration: none;
        }

        h6 {
            .font1;
            font-size: .9em;
            color: #fff;
        }

        p {
            .font2;
            color: @gray1;
            font-size: 1em;
            margin-bottom: .5em;
            line-height: 1.4em;
            text-align: justify;

            a {
                color: #ffd800;
                text-decoration: none;
            }

            b {
            }
        }

        .caption {
            .font1;
            font-size: .8em;
            font-weight: 400;
            color: #fff;
            display: inline-block;
            margin-bottom: .5em;
            margin-top: 1em;
        }

        section.left {
            float: left;
            max-width: @leftcolwidth;
            min-width: @leftcolwidth;
            margin-left: -@leftcolwidth;
            text-align: right;
            padding-right: 2.5em;
            padding-top: 6em;
            padding-bottom: 100000px; // trucco per colonne della stessa altezza
            margin-bottom: -100000px; // trucco per colonne della stessa altezza
            .leftsummary {

                ul {
                    li {

                        span {
                            display: inline-block;
                            margin-bottom: .5em;
                            margin-top: 1em;
                            color: #B6B6B6;
                        }

                        a {
                            display: inline-block;
                            margin-bottom: .5em;

                            &.lvl2 {
                                font-size: .9em;
                                color: #72C7FD;
                            }
                        }
                    }
                }
            }
        }

        section.right {
            float: left;
            width: 100%;
            max-width: 43.75em; // 700px : 16px
            padding-bottom: 100000px; // trucco per colonne della stessa altezza
            margin-bottom: -100000px; // trucco per colonne della stessa altezza
            header {
                margin-bottom: 2em;

                .adsbygoogle {
                    float: right;
                    margin-top: -3.5em;
                }
            }

            table.params {
                background-color: #99B4D1;
                border-radius: .4em;
                .font2;
                font-size: .9em;
                margin-top: 1em;
                margin-bottom: 1em;
                width: 100%;

                tr {
                    border-bottom: solid 1px #9C9C9C;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                th {
                    font-weight: bold;
                    background-color: #808080;
                    color: #fff;
                    padding: .5em;
                    border-left: solid 1px #9C9C9C;
                    text-align: left;

                    &:first-child {
                        border-left: none;
                    }
                }

                td {
                    padding: .5em;
                    border-left: solid 1px #9C9C9C;
                    text-align: left;
                    color: #000;

                    &:first-child {
                        border-left: none;
                    }
                }
            }

            ul {
                li.func {
                    .font1;
                    font-size: 1.5em;
                    color: #4A525A;
                    background-color: #99B4D1;
                    padding: .5em;
                    border-radius: 5px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                li.returns {
                    .font2;
                    font-size: .9em;
                    color: #e4e4e4;
                    margin-bottom: 1em;
                    background-color: #808080;
                    padding: .5em;
                    border-radius: 5px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    h4 {
                        font-weight: bold;
                        display: inline-block;
                        margin-left: 2em;

                        a {
                            color: #72C7FD;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        footer {
            clear: both;
        }
    }
}

.font1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.font2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg1 {
    background-color: #4A525A;
}
